doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/material.min.css')
    link(rel='stylesheet', href='/stylesheets/material-fullpalette.min.css')
    link(rel='stylesheet', href='/stylesheets/ripples.min.css')
    link(rel='stylesheet', href='/stylesheets/roboto.min.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/material.min.js')
    script(src='/javascripts/ripples.min.js')
  body
    block content
