div(class=['col-md-1', 'nav-custom', 'col-md-offset-1'])
  .col-md-12
    a(class='mdi-action-face-unlock', href='/')
  .col-md-12
    a(class='mdi-communication-forum', href='/chat')
  .col-md-12
    a(class='mdi-editor-insert-drive-file', href='/file')